.classpath
.settings
.project
target

animation4j-core/.classpath
animation4j-core/.settings
animation4j-core/.project
animation4j-core/target

animation4j-examples/.classpath
animation4j-examples/.settings
animation4j-examples/.project
animation4j-examples/target

animation4j-slick/.classpath
animation4j-slick/.settings
animation4j-slick/.project
animation4j-slick/target

animation4j-java2d/.classpath
animation4j-java2d/.settings
animation4j-java2d/.project
animation4j-java2d/target
